h1, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    padding-bottom: 40px;
}

h1 {
    font-size: 70px;;
}

h2 {
    font-family: 'Karla', sans-serif;
    margin-top: 50px;
    padding-top: 140px;
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

footer {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/063/005/original/background.jpg?1673801214");
    background-size: 100%;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    color: orangered;
}

.front {
    text-align: center;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/063/005/original/background.jpg?1673801214");
    background-size: 100%;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15px 25px;
    transition: all 200ms ease-in-out;
    color: rgb(82, 50, 34);
}

.btn:hover {
    cursor: pointer;
    background-color: #E5E2DD;
    color: rgb(126, 72, 72);
    border-color: rgb(83, 69, 56);
}

.project-name {
    font-size: 45px;
    padding-top: 0px;
}

.project-decsription {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    text-align: justify;
}

.container {
    padding-top: 150px;
}

.work-section,
.contact-section {
    font-size: 50px;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/063/005/original/background.jpg?1673801214");
    background-size: 100%;   
    padding-top: 180px;
    padding-left: 280px;
}    

.about-section h1 {
    font-size: 50px;
}

.about-section h3 {
    font-size: 35px;
}

 .work {
    padding-bottom: 10px;
}

.work h1 {
    font-size: 30px;
}

@media (max-width: 766px) {
    .small-container {
        text-align: center;
    }

    .project-name {
        font-size: 40px;
    }

    .front {
        font-size: smaller;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container {
        padding-top: 100px;
    }

    .my-desc {
     text-align: justify;
     margin-bottom: 10px;
    }

    .desc-font h1 {
        font-size: 30px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    .desc-font h3 {
        font-size: 25px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .work-section {
        text-align: left;
        padding-left: 10px;
    }

    .work-section h1 {
        font-size: 40px;
    }
    
    .work h1 {
    font-size: 28px;
    }

    .work {
    padding-bottom: 0px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.5;
    }
}
