h1,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding-bottom: 40px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-family: "Karla", sans-serif;
  margin-top: 50px;
  padding-top: 140px;
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: brown;
}

i:hover,
a:hover {
  color: rgb(233, 111, 67);
}

i {
  color: rgb(126, 72, 72);
  font-size: 35px;
  padding: 20px;
  margin: 10px;
  background-color: #e1d6d0;
  border-radius: 50%;
}

footer {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  padding-bottom: 30px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/063/005/original/background.jpg?1673801214");
  background-size: 100%;
  margin-top: auto;
}

.active {
  font-weight: bold;
}

.right {
  font-size: 15px;
}

.right:hover {
  color: brown;
}

.mypic img {
  border-radius: 10px;
}

.work-inq {
  font-family: "Playfair Display", serif;
  background-color: #ebe2dd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 35px;
}

.work-inq a:hover {
  background-color: #e1d6d0;
}

.front {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/075/071/original/background_small-min.jpg?1680535188");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 15px 25px;
  transition: all 200ms ease-in-out;
  color: rgb(82, 50, 34);
}

.btn:hover {
  cursor: pointer;
  background-color: #e5e2dd;
  color: rgb(126, 72, 72);
  border-color: rgb(83, 69, 56);
}

.project-name {
  font-size: 45px;
  padding-top: 0px;
  margin-top: 0px;
}

.project-decsription,
.my-desc {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  text-align: justify;
}
.my-desc {
  padding-right: 15px;
  line-height: 1.8;
}

.col-md-6 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.newHeight {
  padding-top: 20px;
}

.container {
  padding-top: 150px;
  flex-grow: 1;
}

.work-section,
.contact-section {
  font-size: 50px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/075/071/original/background_small-min.jpg?1680535188");
  background-size: 100%;
  padding-top: 180px;
  padding-left: 180px;
}

.about-section a:hover {
  background-color: #e5e2dd;
}

.about-section h1 {
  font-size: 50px;
  text-align: left;
}

.about-section h3 {
  font-size: 35px;
  text-align: left;
}

.my-desc {
  text-align: justify;
}

.work {
  padding-bottom: 10px;
}

.work h1 {
  font-size: 30px;
}

@media (max-width: 991px) {
  .big-screen {
    display: none;
  }
}

@media (min-width: 992px) {
  .small-screen {
    display: none;
  }
}

@media (max-width: 766px) {
  .small-container {
    text-align: center;
  }

  .project-name {
    font-size: 40px;
  }

  .front {
    font-size: smaller;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-top: 100px;
  }

  .my-desc {
    text-align: justify;
    margin-bottom: 10px;
  }

  .about-section {
    text-align: center;
  }

  .desc-font h1 {
    font-size: 20px;
  }

  .about-section h1 {
    font-size: 35px;
    padding: 20px;
  }

  .about-section h3 {
    font-size: 25px;
    padding: 20px;
  }

  .work-section {
    text-align: left;
    padding-left: 15px;
  }

  .work-section h1 {
    font-size: 40px;
  }

  .contact-section {
    text-align: left;
    padding-left: 20px;
  }

  .contact-section h1 {
    font-size: 40px;
  }

  .work h1 {
    font-size: 28px;
  }

  .work {
    padding-bottom: 0px;
  }

  i {
    font-size: 28px;
    padding: 20px;
    margin: 10px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }

  p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
  }
}
